@tailwind base;
@tailwind components;
@tailwind utilities;

.searchWrapper{
    border-color:#383f47 !important;
    padding:10px 5px !important;
    width:100% !important;
}

.highlightOption, .multiSelectContainer li:hover{
    background:#1c1c1c !important;
}

